*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
}
.hero-containter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}
.blob{
    background-image: url(https://avatars.githubusercontent.com/u/75846499?v=4);
    width: 380px;
    height: 380px;
    background-size: cover;
    background-position: center center;
    margin: 20px;
    box-shadow:5px 5px 10px rgba(13, 110, 253, 0.1);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes animate {
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}